---
title: Benefi
layout: default
---

<div class="promess">
	<div itemscope itemtype="https://schema.org/Service" class="promess-text">
		<h1>A gente começa pelo básico:</h1>
		
		<p class="promess-text_item">Mantém site, catálogo, intagram e redes sociais sempre atualizados;</p>
		<p class="promess-text_item">Cria um catálogo que chama atenção dentro da loja;</p>
		<p class="promess-text_item">A gente avisa clientes e representantes sobre lançamentos e novidades.</p>

		<p>Meu obje</p>
	</div>
</div>


<div class="monthly">
	<h1>Ideias e oportunidades para empresas de móveis</h1>
	{% for post in site.posts limit:2  %}
	<div class="montlhy-item">
		<h1><a href="{{post.url}}">{{post.title}}</a></h1>
		<p>{{post.tease}}</p>
		<p><a href="{{post.url}}"><i>Continuar lendo…</i></a></p>
	</div>
	{% endfor %}
</div>

<div class="features">
	{% for feature in site.data.features %}
		<div class="features-item">
			<img src="../assets/img/{{ feature.img }}" alt="">
			<h2>{{ feature.title }}</h2>
			<p>{{ feature.def }}</p>
		</div>
	{% endfor %}
</div>