<footer id="contact">
	<h1>Gostei disso!</h1>
	<div class="contact-info">
		<h2>Para gente conversar, só preciso do seu nome e email ou whatsapp!</h2>
		<p>Aguardo seu contato para ajudar você a trazer mais resultados para sua empresa. Deixe seus dados de contato no formulário ao lado que entro em contato assim que possível.</p>
	</div>

	<form action="https://getsimpleform.com/messages?form_api_token=5836362a22995e1b650bce31dcfcaa22" method="post">
	  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
	  <input type='hidden' name='redirect_to' value='{{ site.url }}/thanks/'>
	  
	<p>
    <label for="name">Meu nome é</label>
    <input type='text' name="name" id="name" placeholder="Machado de Assis" required/>
  </p>

  <p>
    <label for="email">Meu email é</label>
    <input type="email" name="email" id="email" placeholder="meu@email.com" required>
  </p>
	<p>
    <label for="email">Meu whatsapp é</label>
    <input type="tel" name="whatsapp" id="whatsapp" placeholder="(XX)XXXX-XXXX">
  </p>
	<p>
    <input type='submit' class="button" value='Bacana, vamos conversar!' />
  </p>
	</form>

	<!-- {% for dare in site.data.dares %}
		<div class="dare">
			<h2>{{ dare.title }}</h2>
			<p>{{ dare.p }}</p>
			<button>{{ dare.cta }}</button>
		</div>
	{% endfor %} -->
</footer>	
</body>
</html>