---
layout: default
---

<div itemscope itemtype="https://schema.org/Article" class="post">
	{% for post in site.posts limit:1 %}
		<h1>{{post.title}}</h1>
	{% endfor %}

	{{content}}
</div>

<div itemscope itemtype="https://schema.org/author" class="post-author">
	<p>Esse texto foi escrito por Gustavo Nering. Sou designer há mais de uma década. O Benefi existe para ajudar empresas de móveis a aproveitar as oportunidades do mundo digital para alcançar o consumidor final e ter mais facilidade para vender seus produtos.</p>

	<p>Se você precisa de um site, catálogo ou de uma estratégia para redes sociais, <a href="#contact">entra em contato.</a></p>
</div>